html, body {
	overflow-x: hidden;
}
body {
  padding-top: 50px;
}
.top_banner {
	text-align: center;
	height: 400px;
	position: relative;
}
.top_banner_slim {
	text-align: center;
	height: 250px ! important;
	position: relative;
	overflow: hidden;
}
.carouselImage {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 400px;
	display: none;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.carouselText h1, .carouselText h2, .carouselText h3 {
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 2;
	font-family: Helvetica;
	color: #fff;
	font-weight: bold;
}
.carouselText h1 {
	top: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 60px;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}
.carouselText h2 {
	top: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.carouselText h3 {
	top: 250px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.top_banner_slim h1 {
	top: 63px ! important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.option_box {
	display: inline-block;
	width: 200px;
	line-height: 36px;
	height: 36px;
}
.option_flag {
	display: inline-block;
	float: left;
	width: 50px;
	height: 33px;
	margin-right: 10px;
	background-size: cover;
	background-position: center center;
	border: 1px solid rgba(0,0,0,0.5);
}
.vote_option_box_container {
	display: inline-block;
	margin: 10px 10px;
}
.game_event_slim>div>div .vote_option_box_container {
	margin: 0px ! important;
	margin-right: 10px ! important;
}
.vote_option_label {
	display: block;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}
.vote_option_box {
	position: absolute;
	display: block;
	margin: 0;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border: 1px solid black;
}
.vote_option_boundbox {
	position: absolute;
	border: 1px solid black;
	margin: 0;
	border-radius: 50%;
}
.vote_option_box_holder {
	position: relative;
	display: inline-block;
}
.vote_option_box_sel {
}

.rules_list {
	margin: 0px !important;
	margin-left: 15px !important;
	padding: 0px !important;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .carouselText {
        font-size: 50px;
    }
	.tabcell {
		font-size: 10px ! important;
	}
}

.tabcell {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	line-height: 30px;
	margin-right: -1px;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	padding-left: 0px ! important;
	padding-right: 0px ! important;
}
.tabcell_sel {
	border-bottom: 1px solid #fff;
	background-color: #fff;
}
.tabcontent {
	border: 1px solid #999;
	margin-top: -1px;
	margin-bottom: 35px;
	padding: 8px;
}
.greentext {
	color: #0a0;
}
.redtext {
	color: #f00;
}
.yellowtext {
	color: #fa0;
}
.responsive_input {
	width: 100%;
}
.plainlabel {
	font-weight: normal ! important;
}
.bordered_table {
	border: 1px solid #bbb;
	border-top: 0px;
}
.bordered_row {
	border-top: 1px solid #bbb;
	padding: 5px 0px;
	margin: 0px;
}
.boldtext {
	font-weight: bold;
}
.bottomborder {
	border-bottom: 1px solid #bbb;
}
.display_address {
	font-family: consolas;
	font-size: 11px;
}
.select_utxo {
	margin: 4px 2px;
}
.select_utxo_disabled {
	background-color: #555;
	color: #fff;
	border: 1px solid #555;
}
.transaction_table {
	border-bottom: 1px solid #bbb;
}
.game_cell {
}
.game_row:hover {
	background-color: #eee ! important;
}
.selected_link {
	font-weight: bold;
	color: #000;
}
#display_tx_fee {
	display: inline-block;
	margin-left: 15px;
}
.small_flag {
	height: 12px;
}
.my_votes_table {
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 10px;
}
.my_votes_header {
	font-weight: bold;
}
.round_table {
	text-align: left;
}
#nav_logo {
	display: inline-block;
	margin-top: -6px;
	margin-right: 7px;
}
#home_logo {
	width: 100%;
	max-width: 120px;
}
.output_removal_link {
	font-size: 18px;
	float: right;
	cursor: pointer;
}
.output_amount_disp {
	display: inline-block;
}
.option_bet_amount_disp {
	display: inline-block;
}
.option_bet_removal_link {
	float: right;
	cursor: pointer;
	font-size: 18px;
}
.lockedfunds_details {
	display: none;
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	margin-top: 8px;
}
.bets_table {
	border: 1px solid #bbb;
	border-top: 0px;
}
.bet_row {
	margin: 0px;
	padding: 6px;
}
.paragraph {
	margin-bottom: 12px;
}
footer {
    position: fixed;
    height: 0px;
    bottom: 0;
    width: 100%;
	background-color: #fff;
	padding-right: 10px;
}
.chatWindow {
	position: absolute;
	right: 0px;
	top: -280px;
	float: right;
	width: 220px;
	height: 250px;
	margin-right: 10px;
	border: 1px solid #aaa;
	background-color: #fff;
}
.chatWindowHeader {

}
.chatWindowTitle {
	display: inline-block;
	width: 180px;
	overflow: hidden;
	padding-left: 5px;
	line-height: 26px;
	height: 26px;
	font-size: 14px;
}
.chatWindowCloseBtn {
	float: right;
	font-size: 18px;
	padding: 0px 4px;
	cursor: pointer;
}
.chatWindowContent {
	height: 181px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 4px;
	margin-top: 0px;
	padding: 3px;
	border: 1px solid #aaa;
}
.chatWindowWriter {
	height: 24px;
	border: 1px solid #aaa;
	width: 150px;
	margin-left: 4px;
}
.user_message_holder {
	display: block;
	overflow: hidden;
	font-size: 11px;
}
.user_message_sent, .user_message_received {
	display: inline-block;
	border: 1px solid #aaa;
	padding: 3px;
	border-radius: 3px;
}
.user_message_received {
	float: right;
}
.user_message_sent {
	float: left;
}
.plan_row {
	display: block;
	overflow: hidden;
}
.plan_option {
	display: inline-block;
	line-height: 15px;
	border: 1px solid #aaa;
	font-size: 11px;
	padding: 5px 3px;
	margin-right: -1px;
	cursor: pointer;
	min-width: 150px;
}
.plan_option_label {
	text-align: center;
}
.plan_option_amount {
	min-width: 47px;
	text-align: center;
}
.modal-lg {
	width: 1000px;
}
.explorer_nav li a.selected {
	font-weight: bold;
	color: #000 ! important;
}
.row-no-padding {
	padding-left: 0 ! important;
	padding-right: 0 ! important;
}
.game_event_box {
	border: 1px solid rgba(0,0,0,0.2);
	margin: 5px 0px;
	border-radius: 6px;
	padding: 0px 10px;
}
.game_event_slim {
	padding: 0px 6px;
	margin: 0px;
	margin-bottom: -1px;
	border: 1px solid #aaa;
}
.game_events {
	margin-bottom: 15px;
}
.select_utxo_image {
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 0px;
	border: 0px;
}
.account_details {
	border: 1px solid #aaa;
	border-radius: 5px;
	margin: 5px 15px;
	padding: 5px;
}
.address_cell {
	border: 0px;
	background-color: none;
	width: 100%;
	font-family: consolas;
}
.planned_votes_event {
	margin: 8px 10px;
	display: inline-block;
}
.event_score_box {
	border: 1px solid rgba(0,0,0,0.3);
	padding: 5px;
	margin: 5px 0px;
	border-radius: 5px;
}
.event_timer_slim {
	margin-left: 5px;
	display: inline-block;
	float: right;
}
.connected_utxo {
	margin-left: -10px ! important;
}
#game_status_explanation {
	display: inline-block;
}
#change_user_game {
	display: inline-block;
	float: right;
}
.status_footer {
	height: 30px;
	margin-top: -30px;
	background-color: rgba(0,0,0,0);
}
.status_footer_right {
	display: inline-block;
	float: right;
	background-color: #fff;
	border: 1px solid #888;
	opacity: 0.9;
	line-height: 30px;
}
.status_footer_img {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
.status_footer_section {
	padding: 0px 8px;
	display: inline-block;
}