body {
  padding-top: 50px;
}
.top_banner {
	text-align: center;
	height: 400px;
	position: relative;
}
.carouselImage {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 400px;
	display: none;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.carouselText {
	position: absolute;
	top: 150px;
	left: 0px;
	right: 0px;
	height: 100px;
	line-height: 100px;
	z-index: 2;
	font-size: 70px;
	font-family: Helvetica;
	color: #fff;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
	font-weight: bold;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nation_box {
	display: inline-block;
	width: 200px;
	line-height: 36px;
	height: 36px;
}
.nation_flag {
	display: inline-block;
	float: left;
	width: 50px;
	height: 33px;
	margin-right: 10px;
	background-size: cover;
	background-position: center center;
	border: 1px solid rgba(0,0,0,0.5);
}
.nation_flag_label {
	display: inline-block;
	float: left;
}

.vote_nation_box {
	line-height: 42px;
	height: 44px;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
	display: block;
	margin-top: -1px;
	margin-top: 10px;
	border: 1px solid #d6d6d6;
}
.vote_nation_box_sel {
	border: 1px solid #555 ! important;
}
.vote_nation_flag {
	display: block;
	width: 64px;
	height: 42px;
	background-size: cover;
	background-position: center center;
	border-right: 1px solid #d6d6d6;
	margin-right: 5px;
}
.vote_nation_flag_label {
}

.rules_list {
	margin: 0px !important;
	margin-left: 15px !important;
	padding: 0px !important;
}
.china {
	background-image: url('/img/flags/China.jpg');
}
.usa {
	background-image: url('/img/flags/USA.jpg');
}
.india {
	background-image: url('/img/flags/India.jpg');
}
.japan {
	background-image: url('/img/flags/Japan.jpg');
}
.germany {
	background-image: url('/img/flags/Germany.jpg');
}
.russia {
	background-image: url('/img/flags/Russia.jpg');
}
.brazil {
	background-image: url('/img/flags/Brazil.jpg');
}
.indonesia {
	background-image: url('/img/flags/Indonesia.jpg');
}
.france {
	background-image: url('/img/flags/France.jpg');
}
.uk {
	background-image: url('/img/flags/UK.jpg');
}
.mexico {
	background-image: url('/img/flags/Mexico.jpg');
}
.italy {
	background-image: url('/img/flags/Italy.jpg');
}
.southkorea {
	background-image: url('/img/flags/SouthKorea.jpg');
}
.saudiarabia {
	background-image: url('/img/flags/SaudiArabia.jpg');
}
.canada {
	background-image: url('/img/flags/Canada.jpg');
}
.spain {
	background-image: url('/img/flags/Spain.jpg');
}
.nigeria {
	background-image: url('/img/flags/Nigeria.jpg');
}
.turkey {
	background-image: url('/img/flags/Turkey.jpg');
}
.iran {
	background-image: url('/img/flags/Iran.jpg');
}
.pakistan {
	background-image: url('/img/flags/Pakistan.jpg');
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .carouselText {
        font-size: 50px;
    }
	.tabcell {
		font-size: 10px ! important;
	}
}

.tabcell {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	line-height: 30px;
	margin-right: -1px;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
}
.tabcell_sel {
	border-bottom: 1px solid #fff;
	background-color: #fff;
}
.tabcontent {
	border: 1px solid #999;
	margin-top: -1px;
	padding: 8px;
}
.greentext {
	color: #0a0;
}
.redtext {
	color: #f00;
}
.yellowtext {
	color: #fa0;
}
.responsive_input {
	width: 100%;
}
.plainlabel {
	font-weight: normal ! important;
}
.bordered_row {
	border-top: 1px solid #bbb;
	padding-top: 5px;
	padding-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
}
.boldtext {
	font-weight: bold;
}
.bottomborder {
	border-bottom: 1px solid #bbb;
}
.display_address {
	font-family: consolas;
	font-size: 11px;
}
.select_utxo {
	display: inline-block;
	border: 1px solid #aaa;
	padding: 4px 10px;
	margin: 5px;
	cursor: pointer;
	text-align: center;
}
.select_utxo_disabled {
	background-color: #555;
	color: #fff;
	border: 1px solid #555;
}
.transaction_table {
	border-bottom: 1px solid #bbb;
}
.game_cell {
}
.game_row {
}
.selected_link {
	font-weight: bold;
	color: #000;
}
#display_tx_fee {
	display: inline-block;
	margin-left: 15px;
}
.small_flag {
	height: 12px;
}
.my_votes_table {
	border: 1px solid #ddd;
	padding: 5px;
}
.my_votes_header {
	font-weight: bold;
}
#round_table {
	padding: 5px;
}