html, body {
	overflow-x: hidden;
	font-display: swap;
}
.polycash_header {
	position: relative;
	text-align: center;
	background-color: #333;
	color: #fff;
	overflow: hidden;
	min-width: 300px;
}
.polycash_header_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	left: 0px;
	top: 0px;
	background-size: cover;
	background-position: center center;
}
.polycash_header_content {
	position: relative;
	padding: 50px 10px;
	width: 100%;
	height: auto;
	overflow: visible;
	opacity: 1;
}
.top_banner {
	text-align: center;
	height: 400px;
	position: relative;
}
.top_banner_slim {
	text-align: center;
	height: 250px ! important;
	position: relative;
	overflow: hidden;
}
.top_banner_slim h1 {
	top: 63px ! important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.option_box {
	display: inline-block;
	width: 200px;
	line-height: 36px;
	height: 36px;
}
.option_flag {
	display: inline-block;
	float: left;
	width: 50px;
	height: 33px;
	margin-right: 10px;
	background-size: cover;
	background-position: center center;
	border: 1px solid rgba(0,0,0,0.5);
}
.vote_option_box_container {
	display: inline-block;
	margin: 10px 10px;
}
.game_event_slim>div>div .vote_option_box_container {
	margin: 0px ! important;
	margin-right: 10px ! important;
}
.vote_option_label {
	display: block;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	margin-bottom: 5px;
}
.vote_option_box {
	position: absolute;
	display: block;
	margin: 0;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border: 1px solid black;
}
.vote_option_boundbox {
	position: absolute;
	border: 1px solid black;
	margin: 0;
	border-radius: 50%;
}
.vote_option_box_holder {
	position: relative;
	display: inline-block;
}
.vote_option_box_sel {
}

.rules_list {
	margin: 0px !important;
	margin-left: 15px !important;
	padding: 0px !important;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.tabcell {
		font-size: 10px ! important;
	}
}

.tabcell {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	line-height: 30px;
	margin-right: -1px;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	padding-left: 0px ! important;
	padding-right: 0px ! important;
}
.tabcell_sel {
	border-bottom: 1px solid #fff;
	background-color: #fff;
}
.greentext {
	color: #0a0;
}
.redtext {
	color: #f00;
}
.yellowtext {
	color: #fa0;
}
.pad-this-pane {
	padding-top: 10px;
}
.responsive_input {
	width: 100%;
}
.plainlabel {
	font-weight: normal ! important;
}
.bordered_table {
	border: 1px solid #bbb;
	border-top: 0px;
}
.bordered_row {
	border-top: 1px solid #bbb;
	padding: 5px 0px;
	margin: 0px;
}
.boldtext {
	font-weight: bold;
}
.bottomborder {
	border-bottom: 1px solid #bbb;
}
.display_address {
	font-family: consolas;
	font-size: 11px;
}
.select_utxo {
	margin: 4px 2px;
}
.select_utxo_disabled {
	background-color: #555;
	color: #fff;
	border: 1px solid #555;
}
.transaction_table {
	border-bottom: 1px solid #bbb;
}
.game_cell {
}
.game_row:hover {
	background-color: #eee ! important;
}
.selected_link {
	font-weight: bold;
	color: #000;
}
#display_tx_fee {
	display: inline-block;
	margin-left: 15px;
}
.small_flag {
	height: 12px;
}
.my_votes_table {
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 10px;
}
.my_votes_header {
	font-weight: bold;
}
#nav_logo {
	display: inline-block;
	margin-top: -6px;
	margin-right: 7px;
}
#home_logo {
	width: 100%;
	max-width: 120px;
}
.output_removal_link {
	font-size: 18px;
	float: right;
	cursor: pointer;
}
.output_amount_disp {
	display: inline-block;
}
.option_bet_amount_disp {
	display: inline-block;
}
.option_bet_removal_link {
	float: right;
	cursor: pointer;
	font-size: 18px;
}
.lockedfunds_details {
	display: none;
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	margin-top: 8px;
}
.bets_table {
	border: 1px solid #bbb;
	border-top: 0px;
}
.bet_row {
	margin: 0px;
	padding: 6px;
}
.paragraph {
	margin-bottom: 12px;
}
footer {
    position: fixed;
    height: 0px;
    bottom: 0;
    width: 100%;
	background-color: #fff;
	padding-right: 10px;
}
.chatWindow {
	position: absolute;
	right: 0px;
	top: -280px;
	float: right;
	width: 220px;
	height: 250px;
	margin-right: 10px;
	border: 1px solid #aaa;
	background-color: #fff;
}
.chatWindowHeader {

}
.chatWindowTitle {
	display: inline-block;
	width: 180px;
	overflow: hidden;
	padding-left: 5px;
	line-height: 26px;
	height: 26px;
	font-size: 14px;
}
.chatWindowCloseBtn {
	float: right;
	font-size: 18px;
	padding: 0px 4px;
	cursor: pointer;
}
.chatWindowContent {
	height: 181px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 4px;
	margin-top: 0px;
	padding: 3px;
	border: 1px solid #aaa;
}
.chatWindowWriter {
	height: 24px;
	border: 1px solid #aaa;
	width: 150px;
	margin-left: 4px;
}
.user_message_holder {
	display: block;
	overflow: hidden;
	font-size: 11px;
}
.user_message_sent, .user_message_received {
	display: inline-block;
	border: 1px solid #aaa;
	padding: 3px;
	border-radius: 3px;
}
.user_message_received {
	float: right;
}
.user_message_sent {
	float: left;
}
.plan_row {
	display: block;
	overflow: hidden;
}
.plan_option {
	display: inline-block;
	line-height: 15px;
	border: 1px solid #aaa;
	font-size: 11px;
	padding: 5px 3px;
	margin-right: -1px;
	cursor: pointer;
	min-width: 150px;
}
.plan_option_label {
	text-align: center;
}
.plan_option_amount {
	min-width: 47px;
	text-align: center;
}
.modal-lg {
	width: 1000px;
}
a.selected {
	font-weight: bold;
	color: #000 ! important;
}
.row-no-padding {
	padding-left: 0 ! important;
	padding-right: 0 ! important;
}
.game_event_inner {
	padding: 0px 8px;
	margin: 0px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #aaa;
}
.game_events {
	margin: 0px;
	padding: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #aaa;
	border-left: 0px;
	border-right: 0px;
	background-color: #f8f8f8;
}
.game_events_short {
	max-height: 400px;
}
.game_events_long {
	max-height: 600px;
}
.game_events_inner {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.game_event_display {
	text-align: left;
}
.select_utxo_image {
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 0px;
	border: 0px;
}
.account_details {
	border-radius: 5px;
	margin: 5px 15px;
	padding: 5px;
}
.address_cell {
	border: 0px;
	background-color: none;
	width: 100%;
	font-family: consolas;
}
.planned_votes_event {
	margin: 8px 10px;
	display: inline-block;
}
.event_score_box {
	border: 1px solid rgba(0,0,0,0.3);
	padding: 5px;
	margin: 5px 0px;
	border-radius: 5px;
}
.event_timer_slim {
	margin-left: 5px;
	display: inline-block;
	float: right;
	text-align: right;
}
.connected_utxo {
	margin-left: -10px ! important;
}
#game_status_explanation {
	display: inline-block;
}
#change_user_game {
	display: inline-block;
	float: right;
}
.status_footer {
	height: 30px;
	margin-top: -30px;
	background-color: rgba(0,0,0,0);
}
.status_footer_right {
	display: inline-block;
	float: right;
	background-color: #fff;
	border: 1px solid #888;
	opacity: 0.9;
	line-height: 30px;
}
.status_footer_img {
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
.status_footer_section {
	padding: 0px 8px;
	display: inline-block;
}
.game_tabs {
	margin: 15px 0px;
}
.game_tab {
	margin-right: 0px;
	margin-left: 0px;
	background-color: #fff;
	padding: 7px 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.game_tab_sel a {
	font-weight: bold;
	color: #000;
}

#tinyeditor {border:none; margin:0; padding:0; font:14px 'Courier New',Verdana}
.tinyeditor {border:1px solid #bbb; padding:0 1px 1px; font:12px Verdana,Arial}
.tinyeditor iframe {border:none; overflow-x:hidden}
.tinyeditor-header {height:31px; border-bottom:1px solid #bbb; background:url('/images/header-bg.gif') repeat-x; padding-top:1px}
.tinyeditor-header select {float:left; margin-top:5px}
.tinyeditor-font {margin-left:12px}
.tinyeditor-size {margin:0 3px}
.tinyeditor-style {margin-right:12px}
.tinyeditor-divider {float:left; width:1px; height:30px; background:#ccc}
.tinyeditor-control {float:left; width:34px; height:30px; cursor:pointer; background-image:url('/images/tinyeditor_icons.png'); }
.tinyeditor-control:hover {background-color:#fff; background-position:30px 0}
.tinyeditor-footer {height:32px; border-top:1px solid #bbb; background:#f5f5f5}
.toggle {float:left; background:url('/images/tinyeditor_icons.png') -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.toggle:hover {background-color:#fff}
.resize {float:right; height:32px; width:32px; background:url('/images/resize.gif') 15px 15px no-repeat; cursor:s-resize}
#editor {cursor:text; margin:10px}

.card_title_status {
	display: block;
	line-height: 40px;
	padding: 5px;
	padding-left: 0px;
	color: #0b0;
	font-weight: bold;
	font-size: 28px;
}
.card_small {
	display: inline-block;
	width: 90px;
	line-height: 20px;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	margin: 10px;
	border: 1px solid #aaa;
	cursor: pointer;
}
.card_block {
	display: block;
	margin: 0px;
	margin-top: 5px;
	padding: 10px;
	padding-top: 6px;
	left: 0px;
	top: 0px;
	border: 1px solid #999;
	border-radius: 7px;
}
.card_small_sel {
	background-color: #fff ! important;
	border: 1px solid black;
}
.input_buttons_holder {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	clear: both;
}
.explorer_ios {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.definition {
	width: 100%;
	min-height: 400px;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	margin-top: 10px;
}
.game_info_table .row {
	padding: 2px 0px;
}
.buyin_sellout_list {
	border: 1px solid #aaa;
	padding: 5px;
	margin: 5px 0px;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
}