Options -Indexes
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
AddType image/x-icon .ico

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/html None
ExpiresDefault "access 1 year"
</IfModule>
